---
import Layout from "@/layouts/Layout.astro"
import LayoutAccount from "@/layouts/LayoutAccount.astro"
---

<Layout title="account">
	<LayoutAccount>
		<section class="p-10 text-white">
			<p>Your Posts here</p>
		</section>
	</LayoutAccount>
</Layout>
